*.class

# Package Files #
*.jar
*.war
*.ear

# IntelliJ files #
*.idea
*.iml

# eclipse
.metadata/
.classpath
.project

#eclipse - erlide
erlide.log*
*.dump
/Session1/nbproject/private/
/Session2/nbproject/private/
/Session0/nbproject/private/
/Session2/build/

nbproject
/Session3/build/